#play{
    position: absolute;
    right: 10vh;
    top: 50vh;
    height: 100px;
    width: 100px;
}

body{
    overflow: hidden;
}

div{
    max-width: 50%;
    display: inline;
}

#board{
    position: absolute;
    left: 0;
}

#cobraBoard{
    position: absolute;
    right: 0;
}